<div class="carousel-wrap">
	<%- if items.present? -%>
	<div class='carousel slide' id='gallery_images'>
	  <ul class="carousel-inner unstyled">
	    <%= render items %>
	  </ul>
	</div>
	<%- end -%>
	<div class="detail-wrap">
		<div class="details">
			<h2><%= Refinery::Portfolio::Gallery.title %></h2>
			<%= raw Refinery::Portfolio::Gallery.description %>
		</div>
	</div>
</div>
<ul class="unstyled">
	<li class="thumbnails">
		<a href="#" class="icon-thumbs" title="View Info">View thumbnails</a>
	</li>
	<li class="project-title">
		<h6><%= Refinery::Portfolio::Gallery.title %></h6>
	</li>
	<li class="info">
		<a href="#" class="icon-info" title="View Project Info">View project info</a>
	</li>
</ul>
